
* {
  box-sizing: border-box;
  color:white;
  color:#ffffff;
  text-decoration:none;
  list-style:none;
  box-shadow:none;
  border:none;
  font-size:15px;
  margin:0;
  padding:0;
  overflow:hidden;
}
html {
  scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
}

h1 {
  font-family:'Russo One', sans-serif;
  font-size:20px;
  color:#f37b36;
}
h2 {
  font-family:'Russo One', sans-serif;
  font-size:20px;
  color:#ffffff;
}
h3 {
  font-family:'Knewave', sans-serif;
  font-size:20px;
  color:#558157;
}
p {

  font-family:'Questrial', sans-serif;
}

a p, a i{
  color:#f37b36;
  font-size:1em;
  text-decoration:underline;
  font-weight:bold;
}
a i {
text-decoration:none;
padding-left:3px;
}

.rightAlignedTxt {
  float:right;
}

.opaqueTxt {
  opacity:0.5;
}


#body {
  position:absolute;
  background-color:#515151;
  width:100%;
  height:100%;
  margin:0;
}

/* GENERAL CSS */

.image {
  width:100%;
  max-height:100%;
  border-radius:none;
}

/* HEADER */

#header {
  position:relative;
  height:50px;
  z-index:20;
}

#mainWrapperHeader {
  position:fixed;
  height:inherit;
  width:100%;
  background-color:#404040;
  padding:0;
  margin:0;
}

#mainWrapperHeaderSmall {
  position:fixed;
  height:inherit;
  width:100%;
  background-color:#404040;
  padding:0;
  margin:0;
  z-index:10;
}

#indexImageSlides {
  display:none;
}

/* burger menu*/
#burger1 {
  display:block;
  position:absolute;
  left:10px;
  top:5px;
  z-index:16;
  cursor:pointer;
}

#burger2 {
  display:none;
  position:absolute;
  left:10px;
  top:5px;
  z-index:16;
  cursor:pointer;
}

.burgerLine {
  width:40px;
  height:5px;
  background-color:white;
  margin:5px 0;
  border-radius:10px;
}

#burgerMenu {
  display:none;
  position:absolute;
  width:30vw;
  background-color:#cecccc;
  min-height:200px;
  z-index:15;
  padding-top:70px;
  padding-bottom:50px;
  padding-left:20px;
  border-radius: 0 0 20px 0;
}

#burgerMenu li {
  width:100%;
  margin-bottom:20px;
}

#mobilePortfolioLink {
  display:none;
}


/* black overlay when burger menu is opened */
#mainOverlayBurger {
  display:block;
  position:fixed;
  width:100vw;
  height:100%;
  top:0
  padding:0;
  margin:0;
  background-color:rgba(64, 64, 64, 0.8);
  z-index:-5;
  opacity:0;
  transition-duration:1s;
}


#logo {
  width:90vw;
  position:absolute;
  top:10px;
  text-align:center;
  left:5%;
  z-index:1;
}

#logo p {
  font-family:'Audiowide', sans-serif;
  font-size:20px;
  color:#ffffff;
  display:inline-block;
}
.space {
  display:block;
}

#logo1 {
  width:90vw;
  position:absolute;
  top:10px;
  text-align:center;
  left:5%;
  z-index:1;
}

#logo1 p {
  font-family:'Audiowide', sans-serif;
  font-size:20px;
  color:#ffffff;
}

/* LOADER LOADING SCREEN  */

.loader {
  position:absolute;
  display:block;
  opacity:1;
  height:100%;
  width:100%;
  background-color:#404040;
  z-index:21;


    transition-duration:2s;
}
.loaderGif {
  display:none;
}

.loadingIcon {
  margin:auto;
  margin-top:10%;
  border: 15px solid #515151;
    border-bottom: 20px dotted #f37b36;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* MAIN CONTENT INDEX MOB */

#MainWrapper {
}

/* INDEX BUTTONS */

#indexButtons {
  display:none;
}

/* Desk top content wrapper */

#desktopWrapper {
  position:relative;
  min-height:100%;
  max-height:100%;
}

/* PEEK-A-BOO INDEX */

#peekaboo {
  display:none;
}

/* Portfoliom Mobile CSS */

#mainWrapperPortfolio {
  width:90vw;
  position:relative;
  margin:auto;
  margin-bottom: 400px;
  z-index:0;
}

#mainWrapperPortfolio p {
  width:90%;
  height:auto;
}

.imgBoxWrapper {
}

.tumblrBtn {
  float:right;
  width:50%;
  margin-top:25px;
  padding:20px;
  background-color:#f37b36;
  border-radius:15px;
}

/* back to top BTN */

#backToTopBtn {
  min-height:280px;
  min-width:280px;
  max-height:300px;
  max-width:300px;
  padding:30px;
  padding-top:90px;
  padding-bottom:60px;
  text-align:center;
  border-radius:20px;
  margin:auto;
  margin-bottom:200px;
  background-color:#f37b36;
}

/* image gallery slider NETFLIX */


.indexHeader {
  margin-bottom:5px;
  margin-left:5vw;
}
.tiptxt {
  margin-left:5vw;
  margin-bottom:20px;
}

.wrapper {
  display:block;
  position:relative;
  height:inherit;
}

.wrapperSmall {
  height:400px;
  width:70%;
  margin:auto;
  background-color:#404040;
  border-radius:20px;
  padding-top:5px;
}

.bigSliderWrapper {
  margin-top:170px;
  position:inherit;
  display:block;
}

#commisionGalleryWrapperBig{
  transform:translateY(0);
  max-width:100vw;
  overflow-x:scroll;
  scroll-behavior:smooth;
}
#commisionGalleryWrapperBig::-webkit-scrollbar {
  display:none;
}

#commisionGalleryWrapperBig2{
  transform:translateY(0);
  max-width:100vw;
  overflow-x:scroll;
  scroll-behavior:smooth;
}

#commisionGalleryWrapperBig2::-webkit-scrollbar {
  display:none;
}


.imageGallerySliderWrapper {
  position:relative;
  margin-left:5%;
  margin-bottom:50px;
  min-width:230vw;
}

.myGallerySlides {
  display:inline-block;
  max-width:300px;
  height:auto;
  clear:none;
  margin-right:15px;
}

.myGallerySlides p {
  font-size:.8em;
}
.portfolioImg {
  min-width:10vw;
  max-width:20vw;
}

.leftArrowCommisionGallery, .rightArrowCommisionGallery {
  position:absolute;
  display:block;
  clear:both;
  top:40%;
  margin-left:1%;
  margin-right:10%;
  z-index:3;
  cursor:pointer;
  transition-duration:0.4s;
}

.shortSliderArrowRight, .shortSliderArrowLeft {
  top:85%;
}

.leftArrowCommisionGallery i, .rightArrowCommisionGallery i {
  font-size:3em;
}

.rightArrowCommisionGallery {
  right:-5%;
}

.leftArrowCommisionGallery {
  opacity:0;
}
.ItemOnCommisionsPage{
}

#previousCommisionsHeader {
  margin-left:5%;
}

#commisionPrices {
  position:relative;
  width:50%;
  margin-left:5%;
  float:left;
  margin-bottom:50px;
}

.commisionPriceBox {
  margin-top:30px;
  float:left;
}

.commisionPriceBox h2 {
  position:absolute;
  background-color:#404040;
  padding:20px;
  right:0;
  min-width:40%;
  text-align:right;
}

.commisionPriceImage {
  width:100%;
  float:left;
  height:auto;
}

#commisionMeBtn, #tosBtn {
  position:relative;
  width:50%;
  min-height: 100px;
  margin-left:5%;
  margin-bottom:50px;
  background-color:#f37b36;
  padding:20px;
  margin-bottom:25px;
  border-radius:20px;
  box-shadow:10px 10px 5px rgba(64, 64, 64, 0.5);
  cursor:pointer;
}

#commisionButtons {
  margin-bottom:60px;

}

/* note Box on commisions page */

#noteBox {
  transition-duration:1s;
  z-index:6;
}

.noteBox {
  position:relative;
  float:right;
  width:30%;
  margin-bottom:100px;
  right:5%;
  top:5%;
  padding:10px;

  background-color:#515151;
  border-radius:20px;

}

.noteBox p {
  font-size:1em;
  margin-bottom:15px;
}

.sticky {
  position:sticky;
  padding:10px;
  position:fixed;
  top:30%;
  width:30%;
  right:5%;

  background-color:#404040;
  border-radius:20px;


  transition-duration:1s;
}

.stickyStopped {
  position:absolute;
  top:290%;
}

/* ABOUT ME CSSS */
.aboutWrapper {
  min-height:60vh;
  padding-left:5vw;
  padding-top:5vh;
  background-color:#404040;
  margin-bottom:100px;
}

.aboutSelfie {
  position:absolute;
  width:1200px;
  height:950px;
  top:-450px;
  left:-550px;
  border-radius:50%;
  border: 25px solid #404040;
  z-index:1;
}

.aboutTextWrapper {
  padding-left:45vw;
  padding-right:5vw;
  z-index:2;
  height:
}

.aboutTextWrapper p {
  margin-bottom:10px;
}
.belowToDanish {
  margin-top:30px;
}
.toDanish {
  position:absolute;
  left:1000px;
  top:60px;

}
.toDanishArrow {
  padding-left:5px;
  font-size:5em;
  opacity:0.2;
}

/* HERE STARTS proficiencies */
.proficienciesWrapper {
  position:absolute;
  width:45vw;
  max-width:45vw;
  min-height:30vh;
  margin-left:45vw;
  margin-top:5vh;
  padding: 2vw;

  background-color:#515151;
  border-radius:30px;

}

.proficienciesInnerWrapper {
  min-height:150px;
  width:100%;
  padding-left:2vw;
}

.proficienciesInnerWrapper i {
  min-width:100px;
  max-width:100px;
  height:90px;
  padding:10px;
font-size:2em;
margin:auto;
margin-right:20px;
margin-top:20px;
color: #659157;
text-align:center;

border: solid 2px #659157;
border-radius:10px;
}

.proficienciesInnerWrapper i p {
  margin-top:10px;
}

.profAlternativeTxt{
  position:static;
  width:40%;
  margin-top:7%;
  margin-right:10%;
  float:right;
}



/* HERE STARTS BLOG CSS */
.blogPostBoxesWrapper {
  width:90%;
  margin:auto;
  text-align:center;
  }

.blogPostBox {
  width:30%;
  height:200px;
  position:relative;
  border-radius:20px;
  margin-bottom:50px;
  float:left;
  margin-right:15px;
}

.blogPostBox a {
  border-radius:20px;
}

.blogPostBox img {
  width:100%;
  height:auto;
  border-radius:inherit;
}
.blogPostBox p {
  text-align:left;
}

.blogPostText {
  position:absolute;
  display:block;
  padding:20px;
  width:100%;
  max-height:50%;
  background-color:#659157;
  border-radius:inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}



.blogPostImg {
  margin-top:70px;
}

.proj1Img {
  width:45%;
  height:100%;
  margin-right:10px;
  float:left;
  padding-top:30px;
}

.blogPostImgBox {
  display:block;
  width:100%;
  float:none;
    overflow:hidden;
}
.blogPostTextProj1 {
  min-width:100vw;
  float:none;
}
.proj1ImgBig {
  display:block;
  padding-top:50px;
  padding-bottom:50px;
  max-width:80%;
  margin:auto;
}

.proj1ImgSmall {
  display:block;
  width:30%;
  float:right;
  padding-top:50px;
  margin-right:20px;
}

/* Image GRID INDEX */

#imageGridIndex {
  position:relative;
  width:90%;
  margin-left:5%;
}

.columnIndex {
  display:block;
  width:33%;
  float:left;
}

.gridItem {
  position:relative;
  display:block;
  border-radius:5px;
  margin-right:5%;
  margin-bottom:20px;
  transition-duration:0.5s;
  transition-timing-function: ease-in-out;
  transition-delay:0.2s;

  cursor:pointer;
}

.gridImg {
  width:100%;
  height:auto;
  border-radius:inherit;
}

.gridItem a {
  border-radius:inherit;
}

.gridItemOverlay {
  position:absolute;
  width:100%;
  min-height:30%;
  background-color:#404040;
  border-radius:inherit;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  padding-left:0px;
}

.gridItem:hover {
  box-shadow:5px 10px 2px rgba(64, 64, 64, 0.5);
}

.gridItemOverlayTextBox {
  padding:10px;
}

.invisTextBox {
  display:none;
  position:absolute;
  height:100%;
  width:80%;
  margin:auto;
  z-index:3;

  transition-duration:0.4s;
  transition-delay:0.4s;
}



/* FOOTER */

#footer {
  min-height:300px;
  position:relative;
  clear:both;
  background-color:#659157;
  overflow:visible;
}

#footerContent {
  position:relative;
  left:5vw;
  z-index:2;
  width:50vw;
  padding-top:5vh;
}

#footerContent h2 {
  margin-bottom:10px;
}

#footerContent p {
  margin-bottom: 15px;
  font-size:1em;
}
.smallestOfHeaders {
  font-size:1em;
  margin-bottom:0;
}

#footerIcons {
  position:relative;
  left:5vw;
  width:50%;
}

#footerIcons i {
  font-size:3em;
  text-decoration:none;
  margin-right:1vw;
}

.footerIcon {
  max-width:50px;
  height:auto;
  margin-left:10px;
  cursor:pointer;
}
.footerSelfie {
  position:absolute;
  width:600px;
  height:500px;
  border-radius: 80% 0 0 0;
  border: solid 25px #659157;
  border-width: 25px 0 0px 25px;
  z-index:5;
  right:0;
  top:-200px;
}

/* HERE STARTS FRATRICIDE SUBPAGE CSS */
.lightboxWrapper {
  height:90%;
}

#MainFratWrapper {
  height:100%;
  margin-top:100px;
}

.flipImageWrapper {
  height:100%;
  width:100%;
  display:block;
}

.flipImageArrow {
  font-size:40px;
}

.flipImageArrowDiv {
  position:absolute;
  top:50%;
  z-index:4;
  text-align:center;
  cursor:pointer;
}

#flipImageArrowLeft {
  display:none;
  left:10%;
}
#flipImageArrowRight {
  display:block;
  right:10%;
}

#fratricideLightBox, #websiteLightBox {
  position:fixed;
  display:block;
  height:80vh;
  width:80vw;
  background-color:#404040;
  text-align:center;
  left:10%;
  top:95%;
  padding:50px;
  padding-top:20px;
  z-index:7;

  overflow:hidden;
  opacity:0;
  transition-duration:0.8s;
}

#fratricideLightBox::-webkit-scrollbar, #websiteLightBox::-webkit-scrollbar {
  display:none;
}

#imageBoxFratricide1, #imageBoxFratricide2 {
  display:block;
  position:absolute;
  max-width:60%;
  height:100%;
  transition-duration:1s;
}

.imageBoxFratricide img {
  width:45%;
  margin-left:5%;
  float:left;
}
#imageBoxFratricide1 {
  opacity:1;
  top:15%;
  right:22%;
}

#imageBoxFratricide2 {
  opacity:0.2;
  top:20%;
  right:20%;
  z-index:-1;
}

#fratricideText, #websiteText {
  width:50%;
  margin:auto;
}

#fratricideText p, #fratricideText h1 {
  font-size: 10px;
}

.closeLightBox {
  position:absolute;
  right:5%;
  top:5%;
  cursor:pointer;

}
.closeLightBox i{
  font-size:30px;
}

/* HERE COMES THE ANIMATION FRAME BY FRAME CSS */
#animationRight {
  position:absolute;
  top:50%;
  right:5%;
}

#animationLeft {
  position:absolute;
  top:50%;
  left:5%;
}

.animationImg {
  position:absolute;
  left:25%;
  width:50%;
  max-width:50%;
  top:60px;

  opacity:0.2;
  z-index:1;

  transition-duration:0.5s;
}

#animationImgBox {
  height:80%;
  max-width:50%;
}

#MainWebsiteLBWrapper {
  height:50%;
  width:80%;
}

/* HERE STARTS BLOG POST CSS */

.process-page-container {
  width:90%;
  margin:auto;
  margin-bottom:100px;
}

.blogPostImage {
  max-width:100%;
  margin-top:60px;
  margin-bottom:50px;
}
#mograph-logo {
  margin-top:-80px;
  margin-bottom:0;
}


/* MEDIA QUERY */

@media screen and (min-width: 1400px){
  .portfolioImg {
    min-width:20vw;
    max-width:21vw;
  }
  .imageGallerySliderWrapper {
    position:relative;
    margin-left:5%;
    margin-bottom:50px;
    min-width:250vw;
  }

  .myGallerySlides {
    margin-right:3%;
  }
  .leftArrowCommisionGallery, .rightArrowCommisionGallery {
    top:40%;
  }

#footerContent {
  width:20%;
  right:5%;
  left:75%;
}

#footer {
  height:500px;
}

#footerIcons {
  top:60%;
  left:5%;
}

.footerIcon {
  max-width:80px;
}
.noteBox p {
  font-size:2em;
}
.noteBox h3 {
  font-size:2em;
}

.wrapperSmall {
  margin-top:200px;
}

#selfie {
  margin-top:70px;
  min-width:600px;
  margin-left:10%;
}
.aboutMeTextWrapper {
  margin-top:150px;
  width:40%;
  margin-left:50%;
}
.aboutMeTextWrapper p {
  font-size:30px;
}

.blogPostBox {
  width:22%;
  margin-bottom:100px;

}
#fratricideText p, #fratricideText h1 {
  font-size: 20px;
}
#fratricideLightBox {
  height:80vh;
}

@media screen and (max-width: 1100px){
#fratricideText {
}

}
