
* {
  box-sizing: border-box;
  color:white;
  font-family:'Questrial', sans-serif;
  color:#ffffff;
  text-decoration:none;
  list-style:none;
  box-shadow:none;
  border:none;
  font-size:15px;
  margin:0;
  padding:0;
}
html {
  scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
}

h1 {
  font-family:'Russo One', sans-serif;
  font-size:20px;
  color:#f37b36;
}
h2 {
  font-family:'Russo One', sans-serif;
  font-size:20px;
  color:#ffffff;
}
h3 {
  font-family:'Knewave', sans-serif;
  font-size:20px;
  color:#558157;
}


#body {
  position:absolute;
  background-color:#515151;
  width:100%;
  height:100%;
  margin:0;
}

/* GENERAL CSS */

.image {
  width:100%;
  max-height:100%;
  border-radius:none;
}

/* HEADER */

#header {
  position:relative;
  height:50px;
  z-index:20;
  margin-bottom:20px;
}

#mainWrapperHeader {
  position:fixed;
  height:inherit;
  width:100%;
  background-color:#404040;
  padding:0;
  margin:0;
}

#mainWrapperHeaderSmall {
  position:fixed;
  height:inherit;
  width:100%;
  background-color:#404040;
  padding:0;
  margin:0;
  z-index:10;
}

#indexImageSlides {
  display:none;
}

/* burger menu*/
#burger1 {
  display:block;
  position:absolute;
  left:10px;
  top:5px;
  z-index:16;
}

#burger2 {
  display:none;
  position:absolute;
  left:10px;
  top:5px;
  z-index:16;
}

.burgerLine {
  width:40px;
  height:5px;
  background-color:white;
  margin:5px 0;
  border-radius:10px;
}

#burgerMenu {
  display:none;
  position:absolute;
  width:30vw;
  background-color:#cecccc;
  min-height:200px;
  z-index:15;
  padding-top:70px;
  padding-bottom:50px;
  padding-left:20px;
  border-radius: 0 0 20px 0;
}

#burgerMenu li {
  width:100%;
  margin-bottom:20px;
}

#mobilePortfolioLink {
  display:none;
}


/* black overlay when burger menu is opened */
#mainOverlayBurger {
  display:block;
  position:fixed;
  width:100vw;
  height:100%;
  top:0
  padding:0;
  margin:0;
  background-color:rgba(64, 64, 64, 0.8);
  z-index:-5;
  opacity:0;
  transition-duration:1s;
}


#logo {
  width:90vw;
  position:absolute;
  top:10px;
  text-align:center;
  left:5%;
  z-index:1;
}

#logo p {
  font-family:'Audiowide', sans-serif;
  font-size:20px;
  color:#ffffff;
  display:inline-block;
}
.space {
  display:block;
}

#logo1 {
  width:90vw;
  position:absolute;
  top:10px;
  text-align:center;
  left:5%;
  z-index:1;
}

#logo1 p {
  font-family:'Audiowide', sans-serif;
  font-size:20px;
  color:#ffffff;
}

/* MAIN CONTENT INDEX MOB */

#MainWrapper {
}

/* INDEX BUTTONS */

#indexButtons {
  display:none;
}

/* Desk top content wrapper */

#desktopWrapper {
  position:relative;
  min-height:100%;
  max-height:100%;
}

/* PEEK-A-BOO INDEX */

#peekaboo {
  display:none;
}

/* Portfoliom Mobile CSS */

#mainWrapperPortfolio {
  width:90vw;
  position:relative;
  margin:auto;
  margin-bottom: 400px;
  z-index:0;
}

#mainWrapperPortfolio p {
  width:90%;
  height:auto;
}

.imgBoxWrapper {
}

.tumblrBtn {
  float:right;
  width:50%;
  margin-top:25px;
  padding:20px;
  background-color:#f37b36;
  border-radius:15px;
}

/* back to top BTN */

#backToTopBtn {
  min-height:280px;
  min-width:280px;
  max-height:300px;
  max-width:300px;
  padding:30px;
  padding-top:90px;
  padding-bottom:60px;
  text-align:center;
  border-radius:20px;
  margin:auto;
  margin-bottom:200px;
  background-color:#f37b36;
}

/* image gallery slider NETFLIX */

.indexHeader {
  margin-bottom:20px;
  margin-left:5%;
}

.wrapper {
  display:block;
  position:relative;
  height:inherit;
}

.wrapperSmall {
  max-height:inherit;
}

.bigSliderWrapper {
  position:inherit;
  display:block;
}

#commisionGalleryWrapperBig{
  transform:translateY(0);
  max-width:100vw;
  overflow-x:scroll;
  scroll-behavior:smooth;
}
#commisionGalleryWrapperBig::-webkit-scrollbar {
  display:none;
}

#commisionGalleryWrapperBig2{
  transform:translateY(0);
  max-width:100vw;
  overflow-x:scroll;
  scroll-behavior:smooth;
}

#commisionGalleryWrapperBig2::-webkit-scrollbar {
  display:none;
}


.imageGallerySliderWrapper {
  position:relative;
  margin-left:5%;
  margin-bottom:50px;
  min-width:230vw;
}

.myGallerySlides {
  display:inline-block;
  max-width:300px;
  height:auto;
  clear:none;
  margin-right:15px;
}

.myGallerySlides p {
  font-size:.8em;
}
.portfolioImg {
  min-width:10vw;
  max-width:20vw;
}

.leftArrowCommisionGallery, .rightArrowCommisionGallery {
  position:absolute;
  display:block;
  clear:both;
  top:40%;
  margin-left:1%;
  margin-right:10%;
  z-index:3;
  cursor:pointer;
  transition-duration:0.4s;
}

.shortSliderArrowRight, .shortSliderArrowLeft {
  top:85%;
}

.leftArrowCommisionGallery i, .rightArrowCommisionGallery i {
  font-size:3em;
}

.rightArrowCommisionGallery {
  right:-5%;
}

.leftArrowCommisionGallery {
  opacity:0;
}
.ItemOnCommisionsPage{
}

#previousCommisionsHeader {
  margin-left:5%;
}

#commisionPrices {
  position:relative;
  width:50%;
  margin-left:5%;
  float:left;
  margin-bottom:50px;
}

.commisionPriceBox {
  margin-top:30px;
  float:left;
}

.commisionPriceBox h2 {
  position:absolute;
  background-color:#404040;
  padding:20px;
  right:0;
  min-width:40%;
  text-align:right;
}

.commisionPriceImage {
  width:100%;
  float:left;
  height:auto;
}

#commisionMeBtn, #tosBtn {
  position:relative;
  width:50%;
  min-height: 100px;
  margin-left:5%;
  margin-bottom:50px;
  background-color:#f37b36;
  padding:20px;
  margin-bottom:25px;
  border-radius:20px;
  box-shadow:10px 10px 5px rgba(64, 64, 64, 0.5);
  cursor:pointer;
}

#commisionButtons {
  margin-bottom:60px;

}

/* note Box on commisions page */

#noteBox {
}

.noteBox {
  position:relative;
  margin-top:50px;
  float:right;
  width:30%;
  margin-bottom:100px;
  right:5%;
  padding:10px;

}

.noteBox p {
  font-size:1em;
  margin-bottom:15px;
}

.sticky {
  padding:10px;
  position:fixed;
  top:45px;
  width:30%;
  margin-bottom:100px;
  right:5%;
}

.stickyStopped {
  position:absolute;
  top:290%;
}

/* ABOUT ME CSSS */

#aboutMeBigWrapperBig {
  position:relative;
  height:100%;
  margin-bottom:1300px;
}

.aboutMeWrapper {
  position:relative;
  margin-top:20px;
  width:90%;
}

.aboutMeWrapper h1 {
  right:10;
  margin-bottom:10px;
  text-align:center;
}

#selfie  {
  width:100%;
  margin-left:5%;
  margin-top:100px;
}

 .aboutMeTextWrapper {
  position:relative;
  margin-top:20px;
  width:90%;
  margin-left:5%;
}

.aboutMeTextWrapper p{
  margin-bottom:30px;
}

.proficienciesHeader {
  margin-left:5%;
  margin-bottom:50px;
  margin-top:100px;
}
.proficiencies {
  width:400px;
}


/* HERE STARTS BLOG CSS */
.blogPostBoxesWrapper {
  width:90vw;
  margin:auto;
  text-align:center;
  }

.blogPostBox {
  position:relative;
  border-radius:20px;
  margin-bottom:100px;
}
.blogPostBox img {
  width:90vw;
  height:auto;
  border-radius:inherit;
}
.blogPostBox p {
  text-align:left;
}

.blogPostText {
  position:absolute;
  display:block;
  padding:40px;
  background-color:#659157;
  border-radius:inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


/* Image GRID INDEX */

#imageGridIndex {
  position:relative;
  width:90%;
  margin-left:5%;
}

.columnIndex {
  display:block;
  width:33%;
  float:left;
}

.gridItem {
  position:relative;
  display:block;
  border-radius:5px;
  margin-right:5%;
  margin-bottom:20px;
}

.gridImg {
  width:100%;
  height:auto;
  border-radius:inherit;
}

.gridItem a {
  border-radius:inherit;
}

.gridItemOverlay {
  position:absolute;
  width:100%;
  height:20%;
  background-color:#404040;
  border-radius:inherit;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  padding-left:0px;

  transition-duration: 0.5s ;
  transition-timing-function: ease-in-out;
  transition-delay:0.2s;
}

.gridItemOverlay:hover {
  padding-left:15%;
}

.gridItemOverlayTextBox {
  padding:10px;
}

.invisTextBox {
  display:none;
  position:absolute;
  height:100%;
  width:80%;
  margin:auto;
  z-index:3;

  transition-duration:0.4s;
  transition-delay:0.4s;
}



/* FOOTER */

#footer {
  height:400px;
  position:relative;
  bottom:0;
  left:0;
  overflow:hidden;
  clear:both;
}

#footerBackground {
  margin-top:10%;
  height:100%;
  background-color:#659157;
  transform:skew(0,-5deg);
}

#footerContent {
  position:absolute;
  top:40%;
  left:5%;
  z-index:2;
  width:50vw;
}

#footerContent h2 {
  margin-bottom:10px;
}

#footerContent p {
  margin-bottom: 15px;
  font-size:1em;
}
.smallestOfHeaders {
  font-size:1em;
  margin-bottom:0;
}

#footerIcons {
  position:absolute;
  top:70%;
  left:80%;
  width:50%;
  height:100px;
  z-index:3;
}

#footerIcons h2 {
  margin-bottom:20px;
}

.footerIcon {
  max-width:50px;
  height:auto;
  margin-left:10px;
  cursor:pointer;
}

/* MEDIA QUERY */

@media screen and (min-width: 1500px){
  .portfolioImg {
    min-width:20vw;
    max-width:21vw;
  }
  .imageGallerySliderWrapper {
    position:relative;
    margin-left:5%;
    margin-bottom:50px;
    min-width:250vw;
  }

  .myGallerySlides {
    margin-right:3%;
  }
  .leftArrowCommisionGallery, .rightArrowCommisionGallery {
    top:40%;
  }
#footerContent {
  width:20%;
  right:5%;
  left:75%;
}

#footer {
  height:500px;
}

#footerIcons {
  top:60%;
  left:5%;
}

.footerIcon {
  max-width:80px;
}
.noteBox p {
  font-size:2em;
}
.noteBox h3 {
  font-size:2em;
}


}
