
* {
  box-sizing: border-box;
  color:white;
  color:#ffffff;
  text-decoration:none;
  box-shadow:none;
  border:none;
  font-size:15px;
  margin:0;
  padding:0;
  overflow:hidden;
}
html {
  scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
}

h1 {
  font-family:'Russo One', sans-serif;
  font-size:20px;
  color:#f37b36;
}
h2 {
  font-family:'Russo One', sans-serif;
  font-size:20px;
  color:#ffffff;
}
h3 {
  font-family:'Knewave', sans-serif;
  font-size:20px;
  color:#558157;
}
p {

  font-family:'Questrial', sans-serif;
}

a p, a i{
  color:#f37b36;
  font-size:1em;
  text-decoration:underline;
  font-weight:bold;
}
a i {
display:inline-block;
text-decoration:none;
padding-left:3px;
}

.rightAlignedTxt {
  display:block;
  text-align:right;
}

.opaqueTxt {
  opacity:0.5;
}


#body {
  position:absolute;
  background-color:#515151;
  width:100%;
  height:100%;
  margin:0;
  overflow:hidden;
}

/* GENERAL CSS */

.image {
  width:100%;
  max-height:100%;
  border-radius:none;
}

/* HEADER */

#header {
  position:relative;
  height:50px;
  z-index:20;

overflow:visible;
}

#mainWrapperHeader {
  position:fixed;
  height:inherit;
  width:100%;
  background-color:#404040;
  padding:0;
  margin:0;
  border-bottom: solid 5px #659157;
}

#mainWrapperHeaderSmall {
  position:fixed;
  height:inherit;
  width:100%;
  background-color:#404040;
  padding:0;
  margin:0;
  z-index:10;
}

#indexImageSlides {
  display:none;
}

/* burger menu*/
#burger1 {
  display:block;
  position:absolute;
  left:10px;
  top:5px;
  z-index:16;
  cursor:pointer;
}

#burger2 {
  display:none;
  position:absolute;
  left:10px;
  top:5px;
  z-index:16;
  cursor:pointer;
}

.burgerLine {
  width:40px;
  height:5px;
  background-color:white;
  margin:5px 0;
  border-radius:10px;
}

#burgerMenu {
  display:none;
  position:fixed;
  width:30vw;
  background-color:#cecccc;
  min-height:200px;
  z-index:25;
  padding-top:70px;
  padding-bottom:50px;
  padding-left:20px;
  border-radius: 0 0 20px 0;
  margin-top:50px;
}

#burgerMenu li {
  width:100%;
  margin-bottom:20px;
}
#burgerMenu h2 {
  color:#404040;
}

#mobilePortfolioLink {
  display:none;
}


/* black overlay when burger menu is opened */
#mainOverlayBurger {
  display:block;
  position:fixed;
  width:100vw;
  height:100%;
  top:0
  padding:0;
  margin:0;
  background-color:rgba(64, 64, 64, 0.8);
  z-index:-5;
  opacity:0;
  transition-duration:1s;
}

#mainOverlayCommisions {
  display:block;
  position:fixed;
  width:100vw;
  height:100%;
  top:0
  padding:0;
  margin:0;
  background-color:rgba(64, 64, 64, 0.8);
  z-index:1;
  opacity:1;
  transition-duration:1s;
}


#logo {
  width:90vw;
  position:absolute;
  top:10px;
  text-align:center;
  left:5%;
  z-index:1;
}

#logo p {
  font-family:'Audiowide', sans-serif;
  font-size:20px;
  color:#ffffff;
  display:inline-block;
}
.space {
  display:block;
}

#logo1 {
  width:90vw;
  position:absolute;
  top:10px;
  text-align:center;
  left:5%;
  z-index:1;
}

#logo1 p {
  font-family:'Audiowide', sans-serif;
  font-size:20px;
  color:#ffffff;
  text-decoration:none;
}

/* LOADER LOADING SCREEN  */

.loader {
  position:absolute;
  display:block;
  opacity:1;
  height:100%;
  width:100%;
  background-color:#404040;
  z-index:21;


  transition-duration:2s;
}
.loaderGif {
  display:none;
}

.loadingIcon {
  margin:auto;
  margin-top:10%;
  border: 15px solid #515151;
    border-bottom: 20px dotted #f37b36;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* MAIN CONTENT INDEX MOB */

#MainWrapper {
}

/* INDEX BUTTONS */

#indexButtons {
  display:none;
}

/* Desk top content wrapper */

#desktopWrapper {
  position:relative;
  min-height:100%;
  max-height:100%;
}

/* PEEK-A-BOO INDEX */

#peekaboo {
  display:none;
}

/* Portfoliom Mobile CSS */

#mainWrapperPortfolio {
  width:90vw;
  position:relative;
  margin:auto;
  margin-bottom: 400px;
  z-index:0;
}

#mainWrapperPortfolio p {
  width:90%;
  height:auto;
}

.imgBoxWrapper {
}

.tumblrBtn {
  float:right;
  width:50%;
  margin-top:25px;
  padding:20px;
  background-color:#f37b36;
  border-radius:15px;
}

/* image gallery slider NETFLIX */


.indexHeader {
  margin-bottom:5px;
  margin-left:5vw;
}
.tiptxt {
  margin-left:5vw;
  margin-bottom:20px;
}

.wrapper {
  display:block;
  position:relative;
  height:inherit;
}

.wrapperSmall {
  height:400px;
  width:70%;
  margin:auto;
  background-color:#404040;
  border-radius:20px;
  padding-top:5px;
}

.bigSliderWrapper {
  margin-top:250px;
  position:relative;
  display:block;
}

#commisionGalleryWrapperBig{
  transform:translateY(0);
  max-width:100vw;
  overflow-x:scroll;
  scroll-behavior:smooth;
}
#commisionGalleryWrapperBig::-webkit-scrollbar {
  display:none;
}

#commisionGalleryWrapperBig2{
  transform:translateY(0);
  max-width:100vw;
  overflow-x:scroll;
  scroll-behavior:smooth;
}

#commisionGalleryWrapperBig2::-webkit-scrollbar {
  display:none;
}


.imageGallerySliderWrapper {
  position:relative;
  margin-left:5%;
  margin-bottom:50px;
  min-width:230vw;
}

.myGallerySlides {
  display:inline-block;
  max-width:300px;
  height:auto;
  clear:none;
  margin-right:15px;
}

.myGallerySlides p {
  font-size:.8em;
}
.portfolioImg {
  min-width:10vw;
  max-width:20vw;
}

.leftArrowCommisionGallery, .rightArrowCommisionGallery {
  position:absolute;
  display:block;
  clear:both;
  top:40%;
  margin-left:1%;
  margin-right:10%;
  z-index:3;
  cursor:pointer;
  transition-duration:0.4s;
}

.shortSliderArrowRight, .shortSliderArrowLeft {
  top:85%;
}

.leftArrowCommisionGallery i, .rightArrowCommisionGallery i {
  font-size:3em;
}

.rightArrowCommisionGallery {
  right:-5%;
}

.leftArrowCommisionGallery {
  opacity:0;
}
.ItemOnCommisionsPage{
}


/* ABOUT ME CSSS */
.aboutWrapper {
  min-height:60vh;
  padding-left:5vw;
  padding-top:5vh;
  background-color:#404040;
  margin-bottom:100px;
}

.aboutSelfie {
  position:absolute;
  width:1200px;
  height:950px;
  top:-450px;
  left:-550px;
  border-radius:50%;
  border: 25px solid #404040;
  z-index:1;
}

.aboutTextWrapper {
  padding-left:45vw;
  padding-right:5vw;
  z-index:2;
  height:
}

.aboutTextWrapper p {
  margin-bottom:10px;
}
.belowToDanish {
  margin-top:30px;
}
.toDanish {
  position:absolute;
  left:1000px;
  top:60px;

}
.toDanishArrow {
  padding-left:5px;
  font-size:5em;
  opacity:0.2;
}

/* HERE STARTS proficiencies */
.proficienciesWrapper {
  position:absolute;
  width:45vw;
  max-width:45vw;
  min-height:30vh;
  margin-left:45vw;
  margin-top:5vh;
  padding: 2vw;

  background-color:#515151;
  border-radius:30px;

}

.proficienciesInnerWrapper {
  min-height:150px;
  width:100%;
  padding-left:2vw;
}

.proficienciesInnerWrapper i {
  min-width:100px;
  max-width:100px;
  height:90px;
  padding:10px;
font-size:2em;
margin:auto;
margin-right:20px;
margin-top:20px;
color: #659157;
text-align:center;

border: solid 2px #659157;
border-radius:10px;
}

.proficienciesInnerWrapper i p {
  margin-top:10px;
}

.profAlternativeTxt{
  position:static;
  width:40%;
  margin-top:7%;
  margin-right:10%;
  float:right;
}



/* HERE STARTS BLOG CSS */
.blogPostBoxesWrapper {
  width:90%;
  margin:auto;
  text-align:center;
  }

.blogPostBox {
  width:30%;
  height:200px;
  position:relative;
  border-radius:20px;
  margin-bottom:50px;
  float:left;
  margin-right:15px;
}

.blogPostBox a {
  border-radius:20px;
}

.blogPostBox img {
  width:100%;
  height:auto;
  border-radius:inherit;
}
.blogPostBox p {
  text-align:left;
}

.blogPostText {
  position:absolute;
  display:block;
  padding:20px;
  width:100%;
  max-height:50%;
  background-color:#659157;
  border-radius:inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}



.blogPostImg {
  margin-top:70px;
}

.proj1Img {
  width:45%;
  height:100%;
  margin-right:10px;
  float:left;
  padding-top:30px;
}

.blogPostImgBox {
  display:block;
  width:100%;
  float:none;
    overflow:hidden;
}
.blogPostTextProj1 {
  min-width:100vw;
  float:none;
}
.proj1ImgBig {
  display:block;
  padding-top:50px;
  padding-bottom:50px;
  max-width:80%;
  margin:auto;
}

.proj1ImgSmall {
  display:block;
  width:30%;
  float:right;
  padding-top:50px;
  margin-right:20px;
}

/* Image GRID INDEX */

#imageGridIndex {
  position:relative;
  width:100%;
  margin-left:5vw;
}

.columnIndex {
  display:inline-block;
  width:21vw;
  float:left;
  margin-right:2vw;
}

.gridItem {
  position:relative;
  display:block;
  border-radius:5px;
  margin-bottom:20px;
  transition-duration:0.5s;
  transition-timing-function: ease-in-out;
  transition-delay:0.2s;

  cursor:pointer;
}

.gridImg {
  width:100%;
  height:auto;
  border-radius:inherit;
}

.gridItem a {
  border-radius:inherit;
}

.gridItemOverlay {
  position:absolute;
  width:100%;
  min-height:30%;
  background-color:#404040;
  border-radius:inherit;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  padding-left:0px;
}

.gridItem:hover {
  box-shadow:5px 10px 2px rgba(64, 64, 64, 0.5);
}

.gridItemOverlayTextBox {
  padding:10px;
}

.invisTextBox {
  display:none;
  position:absolute;
  height:100%;
  width:80%;
  margin:auto;
  z-index:3;

  transition-duration:0.4s;
  transition-delay:0.4s;
}



/* FOOTER */

#footer {
  min-height:300px;
  position:relative;
  clear:both;
  background-color:#659157;
  overflow:visible;
  margin-top:150px;
}

#footerContent {
  position:relative;
  left:5vw;
  z-index:2;
  width:50vw;
  padding-top:5vh;
}

#footerContent h2 {
  margin-bottom:10px;
}

#footerContent p {
  margin-bottom: 15px;
  font-size:1em;
}
.smallestOfHeaders {
  font-size:1em;
  margin-bottom:0;
}

#footerIcons {
  position:relative;
  width:100%;
  margin-bottom:10px;
}

#footerIcons i {
  font-size:3em;
  text-decoration:none;
  margin-right:1vw;
}

.footerEmail {
  display:inline-block;
  margin-left:-5px;
}

.footerIcon {
  max-width:50px;
  height:auto;
  margin-left:10px;
  cursor:pointer;
}

.footerEmailIcon {
  margin-right:-10px;
  cursor:cell;
}



.footerSelfie {
  position:absolute;
  width:600px;
  height:500px;
  border-radius: 80% 0 0 0;
  border: solid 25px #659157;
  border-width: 25px 0 0px 25px;
  z-index:1;
  right:0;
  top:-200px;
}

/* HERE STARTS FRATRICIDE SUBPAGE CSS */
.lightboxWrapper {
  height:90%;
}

#MainFratWrapper {
  height:100%;
  margin-top:100px;
}

.flipImageWrapper {
  height:100%;
  width:100%;
  display:block;
}

.flipImageArrow {
  font-size:40px;
}

.flipImageArrowDiv {
  position:absolute;
  top:50%;
  z-index:4;
  text-align:center;
  cursor:pointer;
}

#flipImageArrowLeft {
  display:none;
  left:10%;
}
#flipImageArrowRight {
  display:block;
  right:10%;
}

#fratricideLightBox, #websiteLightBox {
  position:fixed;
  display:block;
  height:80vh;
  width:80vw;
  background-color:#404040;
  text-align:center;
  left:10%;
  top:95%;
  padding:50px;
  padding-top:20px;
  z-index:7;

  overflow:hidden;
  opacity:0;
  transition-duration:0.8s;
}

#fratricideLightBox::-webkit-scrollbar, #websiteLightBox::-webkit-scrollbar {
  display:none;
}

#imageBoxFratricide1, #imageBoxFratricide2 {
  display:block;
  position:absolute;
  max-width:60%;
  height:100%;
  transition-duration:1s;
}

.imageBoxFratricide img {
  width:45%;
  margin-left:5%;
  float:left;
}
#imageBoxFratricide1 {
  opacity:1;
  top:15%;
  right:22%;
}

#imageBoxFratricide2 {
  opacity:0.2;
  top:20%;
  right:20%;
  z-index:-1;
}

#fratricideText, #websiteText {
  width:50%;
  margin:auto;
}

#fratricideText p, #fratricideText h1 {
  font-size: 1.1em;
}

.closeLightBox {
  position:absolute;
  right:5%;
  top:5%;
  cursor:pointer;

}
.closeLightBox i{
  font-size:30px;
}

/* HERE COMES THE ANIMATION FRAME BY FRAME CSS */
#animationRight {
  position:absolute;
  top:50%;
  right:5%;
}

#animationLeft {
  position:absolute;
  top:50%;
  left:5%;
}

.animationImg {
  position:absolute;
  left:25%;
  width:50%;
  max-width:50%;
  top:60px;

  opacity:0.2;
  z-index:1;

  transition-duration:0.5s;
}

#animationImgBox {
  height:80%;
  max-width:50%;
}

#MainWebsiteLBWrapper {
  height:50%;
  width:80%;
}

/* HERE STARTS BLOG POST CSS */

.process-page-container {
  width:90%;
  margin:auto;
  margin-bottom:100px;
}

.blogPostImage {
  max-width:100%;
  margin-top:60px;
  margin-bottom:50px;
}
#mograph-logo {
  margin-top:-80px;
  margin-bottom:0;
}

/* HERE STARTS ABOUT ME PAGE CSS */
.aboutBigWrapper {
  position:relative;
  width:100%;
  overflow:hidden;
}

.aboutGeneralBoxWrapper {
  min-height:50vh;
}

/* ABOUT PAGE IMAGES */
.aboutSelfieLeft {
  position:absolute;
  width:20vw;
  height:30vh;
  border-radius:30px;
  top:18vh;
  z-index:2;
  float:left;
  left: 5vw;
}

.buzzwords {
  position:absolute;
  width:30vw;
  top:50vh;
  z-index:2;
}

/*ABOUT PAGE GENERAL INFO */
.AboutPageHeader h2{
  font-size:3em;
  text-align:center;
  margin-top:5vh;
  margin-bottom:2vh;

}

.aboutGeneralTextWrapper {
  position:relative;
  width:100%;
  min-height:500px;
  padding-left:30vw;

  z-index:1;
  background-color:#659157;

}

.aboutGeneralTextWrapperList, .aboutPageProficienciesList {
  margin-top:5vh;
  width:60vw;
}

.aboutGeneralTextWrapperListItem {
  display:block;
  margin-bottom:15px;
  border: solid 5px white;
  border-width: 0 0 1px 0px;
}

.aboutGeneralTextWrapperListItem p, .aboutPageProficienciesListItem p {
  display:inline-block;
}
.phonetic {
  margin-left:15px;
  opacity:0.8;
}
.AboutGeneralBoxBold, .aboutPageProficienciesBold {
  margin-right:10px;
  font-weight:bold;
}
.AboutGeneralBoxBold i {
  display:inline-block;
  margin-bottom:-3px;
  margin-right: 5px;
}

/* ABOUG PAGE PROFICIENCIES */
.aboutPageProficiencies {
  position:relative;
  width:60vw;
  min-height:200px;
  margin-left:30vw;
  margin-top:-125px;
  padding-bottom:25px;
  z-index:2;
  border-radius:20px;

  background-color:#515151;
}

.aboutPageProficienciesList {
  width:80%;
  margin-top:1vh;
  margin-left:5vw;
}

.aboutPageProficienciesListItem {
  width:50%;
  float:left;
}

.aboutPageProficienciesWrapper h3, .aboutPageProficienciesWrapper h2 {
  margin-left:5vw;
  margin-top:10px;
}

.proficienciesMiniList {
  margin-left:2vw;
}

.buzzwords p{
  max-width:60%;
}

/* ABOUT PAGE EXPERIENCE PART */
.aboutPageExperience {
  width:90vw;
  padding-left: 5vw;
  padding-top:1vh;

}
.aboutPageExperience h1 {
  margin-left: 22vw;
  margin-bottom: 30px;
  margin-top:20px;
  font-size:2.5em;
}

.aboutPageExperience h2 {
  margin-bottom:15px;
}

.aboutPageExperienceCenter {
  margin-left: 15vw;
  margin-top:5vh;
}

.xpListRow {
  width: 30vw;
  float:left;
  padding-right: 50px;
}

.xpListRowRight {
  width:40vw;
  border: 1px solid white;
  border-width: 0 0 0 1px;
  padding-left: 150px;
}

.xpList li {
  margin-bottom:5vh;
}

.xpSmallTxtList{
  margin-left:1vw;
  margin-top:5px;
  text-decoration:inherit;
  list-style:disc;
}

.xpSmallTxtList li {
  margin-bottom:5px;
  padding-bottom:3px;
  padding-top:10px;
  border: 1px solid white;
  border-width: 0 0 1px 0;
}
.xpSmallTxt {
  margin-top:20px;
}

.xpItalicTxt {
  font-style:italic;
}

/* Here starts commision INFORMATION css */

.commisionsBigWrapper {
  width:100vw;
  margin-top:0;
  margin-bottom:30vh;
}

/* The alert box */

#commisionInformationBox {
  position:fixed;
  width:60vw;
  top:110vh;
  left: 20vw;
  padding:5vw;
  padding-bottom:1vh;
  padding-top: 20px;
  background-color: #404040;
  border-radius: 10vh;
  border: 5px solid #659157;

  transition-duration: 0.3s;
  transition-delay: 0.2s;
  transition-timing-function:ease-in;
  z-index:5;
}

.commisionInfoWrapper h1, .commisionInfoWrapper h2 {
  text-align:center;
}
.commisionInfoWrapper h2 {
  margin-top: 10px;
  text-align:left;
}

.commisionInfoWrapper i {
  font-size:2em;
  margin-left:48%;
  margin-top:2vh;
}

/* Commisions info main content */

.commisionsTypesWrapper {
  background-color: #659157;
  padding-left:5vw;
  padding-top:5vh;
  padding-bottom:6vw;
}
.commisionTypes {
  margin-top:20px;
  margin-bottom:10px;
  margin-left:4%;
}

.commisionTypes li {
  width:33%;
  float:left;
  margin:auto;
}

.commisionTypes li img {
  width:70%;
  height:auto;
  border-radius:10%;
  margin-bottom:15px;
}

.commisionTypes p {
  text-align:center;
  font-size: 2em;
  font-weight:bold;
  margin-right:140px;
}

.commisionsInfoHeader {
  font-size:2em;
  text-align:center;
  margin-top:30px;
  margin-bottom:10px;
  color:white;
}
.commisionsTypesWrapper h2 {
  text-align:center;
  margin-right:60px;
}
.addInfo {
  width:50vw;
  margin-left:10vw;
  margin-top:10vh;
}
.addInfo p {
  margin-bottom:10px;
}

.addInfo h2 {
  text-align:left;
  margin-bottom:10px;
}

/* Commision button */
.commisionBtn a {
  display:block;
  position:absolute;
  left:30vw;
  margin-top:30px;

  width:40vw;
  min-height:100px;
  background-color: #F37B36;
  border-radius:25px;
  border: 10px solid #659157;

  font-size:2em;
  font-weight:bold;
  cursor:pointer;

  text-align:center;
  padding-top:20px;
  font-family:'Questrial', sans-serif;
}

/* Old commisions archive bottom of commisions info page */
.oldCommisions {
  width:80vw;
  margin:auto;
  margin-top:5vh;
}

.oldCommisionsList {
 width:100%;

}

.oldCommisions h1 {
  margin-bottom:2vh;
}

.oldCommisionsList li {
  width:18%;
  min-height: 300px;
  margin-right:2%;
  margin-bottom:20px;
  float:left;
  background-color: #404040;
}
